/*
Project Name: Relaxr Landing Page
Author: Alec McGuffey
Front End Developer @GA in NYC
*/

/* Box Model Hack */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic);

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

#top {
	background-image:url("../images/header_bg.jpg");
	width:100%;
	height:500px;
  	background-size:cover;
  	background-position:center;
}

header h1 {
	margin:0px;
	padding-top:30px;
	padding-left:100px;
	color:white;
	font-size:24px;
	font-family:"Open Sans";
	font-weight:800;
}

header h2 {
	text-align:center;
	font-family:"Open Sans";
	font-size:30px;
	font-weight:600;
	color:white;
	padding-top:75px;
}

header p {
	text-align:center;
	font-family:"Open Sans";
	font-weight:800;
	font-size:14px;
	padding-top:50px;
}

header a {
	color:#404040;
	text-decoration: none;
	background-color:#f9e42e;
	border-radius:5px;
	padding: 7px 38px 7px 38px;
}


#middle {
	font-family:"Open Sans";
	padding-left:85px;
	width:45%;
	padding-bottom:25px;
}

#middle h2 {
	font-weight:600;
	color:#404040;
}

#middle p {
	color:#606161;
	font-size:13px;
	font-weight:300;
	line-height:17px;
	margin:0 0 30px 0;
	padding-left:7px;
}

#middle li {
	color:#606161;
	font-size:13px;
	font-weight:300;
	margin: 0 0 8px 0;
}

#bottom {
	background-image:url("../images/testimonial_bg.jpg");
	width:100%;
	height:225px;
  	background-size:cover;
  	background-position:center;
  }

#bottom blockquote {
	font-family:"Open Sans";
	font-weight:300;
	font-size:18px;
	color:#cccccc;
	font-style:italic;
	text-align:center;
	padding: 50px 260px 0 260px;

}

#bottom p {
	font-family:"Open Sans";
	font-weight:600;
	font-size:18px;
	color:white;
	text-align:center;
}

#signup {
	background-color:#f9e42e;
	height:70px;
}

#signup p {
	margin:0;
	text-align:center;
	font-family:"Open Sans";
	font-weight:800;
	font-size:12px;
	padding-top:30px;
}
#signup a {
	color:white;
	text-decoration: none;
	background-color:#033048;
	font-size:12px;
	border-radius:5px;
	padding: 9px 35px 9px 35px;
} 

footer {
	height:225px;
	background-color:#121212;
}

footer h1 {
	margin:0;
	text-align:center;
	padding-top:40px;
	color:#f9e42e;
	font-size:24px;
	font-family:"Open Sans";
	font-weight:800;
}

#icons {
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:7%;
}

#twitter {
	max-width:25px;
	max-height:25px;
	margin-right:25px;
}

#facebook {
	max-width:20px;
	max-height:20px;
}

footer p {
	text-align:center;
	font-family:"Open Sans";
	font-weight:600;
	font-size:9px;
	color:white;
	margin-top:55px;
}


